# -----------------------
# Entorno virtual
# -----------------------
venv/
ENV/
env/
*.env

# -----------------------
# Archivos compilados de Python
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------
# Django
# -----------------------
*.log
*.pot
*.py[cod]
# db.sqlite3  <- LO DEJAMOS FUERA PARA que sí se suba
media/
staticfiles/

# -----------------------
# Configuración local
# -----------------------
local_settings.py

# -----------------------
# IDEs y editores
# -----------------------
.vscode/
.idea/
*.swp
.DS_Store

# -----------------------
# Mac OS
# -----------------------
*.DS_Store

# -----------------------
# Pytest
# -----------------------
.cache/
.pytest_cache/

# -----------------------
# Otros
# -----------------------
*.bak
*.tmp